body {
  background: #f6f6fa;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
}
.main-content {
  padding: 80px 40px 80px 88px;
  box-sizing: border-box;
}